* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

.header {
  height: 200px;
  border: 1px solid red;
  text-align: center;
}

.header img {
  background-color: rgb(33, 150, 243);
  border-radius: 50%;
  margin-top: 25px;
}

.header .header__title {
  text-transform: uppercase;
  color: rgb(33, 150, 243);
  margin-top: 13px;
  text-shadow: 1.5px 1px #221f3b;
}
