* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

.header {
  height: 200px;
  /* border: 1px solid red; */
  text-align: center;
}

.header img {
  background-color: rgb(33, 150, 243);
  border-radius: 50%;
  margin-top: 25px;
}

.header .header__title {
  text-transform: uppercase;
  color: rgb(33, 150, 243);
  margin-top: 13px;
  text-shadow: 1.5px 1px #221f3b;
}

.menuWrapper {
  width: 100%;
  height: 40px;

  background-color: #1b262c;
  text-align: center;
}

.menu {
  width: 1240px;
  /*   border: 2px solid blue; */
  height: 40px;
  list-style: none;
  line-height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.menu__element {
  width: 130px;
  float: left;
  border-right: 1px solid rgb(33, 150, 243);
  padding: 0px 10px;
}

.menu__link {
  display: block;
  color: #eeeeee;
  text-decoration: none;
}

.menu__element:first-child {
  border-left: 1px solid rgb(33, 150, 243);
}

.menu__element:hover {
  background-color: rgba(33, 150, 243, 1);
}

.menu__link:hover {
  color: #e4f9ff;
}

.float__fix {
  float: none;
  clear: both;
}

/*------------------------- Aside -------------------------------*/
.aside__container {
  position: relative;
}

.aside {
  width: 200px;
  height: 870px;
  background-color: #eeeeee;
  position: absolute;
  top: 30px;
  left: 50px;
  box-shadow: 0px 0px 7px #56556e;
}

.aside__title {
  text-transform: capitalize;
  font-size: 1em;
  padding: 0.2em 0em;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  text-align: center;
  background-color: #ccc;
  border-top: 1px solid #393e46;
  border-bottom: 1px solid #393e46;
}

.aside__title.two {
  color: #6a097d;
}

.aside__title.three {
  color: #fa1616;
}

.form1__aside,
.form2__aside,
.form3__aside {
  text-align: center;
}

.form1__aside > input,
.form2__aside > input,
.form3__aside > input {
  margin: 3px 0px 7px 0px;
}

.form__button {
  background-color: #68ae2c;
  color: white;
  width: 70px;
  border-radius: 3px;
  border: none;
  height: 24px;
  margin: 10px 0px;
  margin-top: 2px;
}

.aside > a {
  color: #639a67;
  text-decoration: none;
  display: block;
  margin: 0px 0px 2px 20px;
}

.aside a:nth-child(5) {
  margin-bottom: 10px;
}

.dashed {
  border: 1px dashed #ccc;
}

aside > ul {
  list-style: square;
  margin-left: 20px;
  padding: 10px;
}

.aside > ul > li > a {
  text-decoration: none;
  color: #639a67;
  font-size: 0.95em;
  text-align: justify;
}

/*----------------------- Aside 2 ------------------------- */

.aside2__container {
  position: relative;
}

.aside2 {
  position: absolute;
  left: 50px;
  box-shadow: 0px 0px 7px #56556e;
  top: 960px;
  width: 180px;
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 20px;
}

.aside2__title {
  font-size: 0.9em;
  margin-bottom: 3px;
  padding-left: 10px;
}

.aside2__paragraph {
  text-align: justify;
  margin-bottom: 3px;
  padding: 0px 10px;
}

.aside2__note {
  color: #639a67;
  padding-left: 10px;
}

/* --------------------------Sections -----------------------------*/

.sections {
  position: absolute;
}

.section {
  width: 1000px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 2px black;
  position: relative;
  left: 300px;
  top: 30px;
  height: 430px;
}

.section__title {
  text-align: center;
  padding: 15px 0px 10px;
  border-bottom: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
}

.entry {
  padding: 0px 25px;
  text-align: justify;
}

.section > .entry:nth-child(2) {
  margin-top: 15px;
}

.entry .green {
  color: #639a67;
  background-image: url("../2/images/paper.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 15px;
  background-position: left;
}

.date {
  color: rgba(27, 38, 44, 0.5);
  padding: 0px 25px;
  margin-bottom: 10px;
  font-size: 0.8em;
  margin-top: 1.5px;
}

.section__title.two {
  color: #cf1b1b;
}

.section__title.three {
  color: #febf63;
}
